<!DOCTYPE html>
<html>

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />{{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">{{! Styles'n'Scripts }}
    <link href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.useso.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" /> -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/fancybox/3.3.5/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "plugins/anijs-0.9.3/anicollection.min.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed" data-spy="scroll" data-target="#tocScrollspy">

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <div class="footer-meta container">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a>, Theme <a href="https://github.com/xiaoluoboding/kaldorei">Kaldorei</a></section>
            </div>
        </footer>

    </div>

    <div id="backTop" class="backTop">
        <button class="btn btn-inverse">
            <i class="fa fa-chevron-up"></i>
        </button>
    </div>
    
    <script src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
    <script>
    NProgress.start();
    var serviceWorkerUri = '/sw.js';
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register(serviceWorkerUri).then(function() {
        if (navigator.serviceWorker.controller) {
          NProgress.done();
          console.log('Assets cached by the controlling service worker.');
        } else {
          console.log('Please reload this page to allow the service worker to handle network operations.');
        }
      }).catch(function(error) {
        console.log('ERROR: ' + error);
      });
    } else {
      console.log('Service workers are not supported in the current browser.');
    }
    </script>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="https://cdn.bootcss.com/fitvids/1.2.0/jquery.fitvids.min.js"></script>
    {{! The main JavaScript file for Kaldorei }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="{{asset "plugins/jquery-toc-0.3.5/jquery.toc.js"}}"></script>
    <script src="https://cdn.bootcss.com/velocity/2.0.2/velocity.min.js"></script>
    <script src="https://cdn.bootcss.com/velocity/2.0.2/velocity.ui.min.js"></script>
    <script src="https://cdn.bootcss.com/AniJS/0.9.3/anijs-min.js"></script>
    <script src="https://cdn.bootcss.com/AniJS/0.9.3/helpers/scrollreveal/anijs-helper-scrollreveal-min.js"></script>
    <script src="https://cdn.bootcss.com/github-repo-widget/e23d85ab8f/jquery.githubRepoWidget.min.js"></script>
    <script src="https://cdn.bootcss.com/fancybox/3.3.5/jquery.fancybox.min.js"></script>
</body>

</html>
